body {
  background-color:lightblue ;
}

h1 {
  font-family: Verdana;
  font-size: 30px;
  background-color: red;
  padding: 5px;
}

a {
  color: green;
}

h2 {
  font-family: Verdana;
  font-size: 20px;
}
  

  